@import './global.module.scss';
@import './keyframes.module.scss';

.container {
  @include flex(column);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 120px 0;
  @include size(0px, $phone) {
    padding: 60px 0;
  }
}

.techContainer {
  @include flex(row);
  margin-bottom: 30px;
  width: 75%;
  @include size(0px, $phone) {
    width: 90%;
    margin-bottom: 12px;
  }
}

.techIcon {
  @include flex(row);
  align-content: center;
  justify-content: flex-end;
  width: 100px;
  height: 60px;
  margin-right: 20px;
  @include size(0px, $phone) {
    width: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  svg {
    width: 60px;
    height: 60px;
  }
}

.techRightContainer {
  @include flex(column);
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.techTextContainer {
  @include flex(row);
  justify-content: space-between;
  margin: 0px 10px 3px 10px;
  .techTextName {
    @extend %fontB;
    font-size: 20px;
    opacity: 1;
    @extend %textOverflow;
  }
  .techTextLevel {
    @extend %fontL;
    @include flex(row);
    align-items: flex-end;
    font-size: 16px;
    opacity: 0.5;
  }
  @include size(0px, $small) {
    .techTextName {
      font-size: 16px;
    }
    .techTextLevel {
      font-size: 13px;
    }
  }
  @include size($small, $phone) {
    .techTextName {
      font-size: 18px;
    }
    .techTextLevel {
      font-size: 14px;
    }
  }
}

.techLevelContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.techLevelFields {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  border-radius: 10px;
}

.techLevelBack {
  @extend .techLevelFields;
  @include transition(0.15);
  width: 100%;
}

.techLevelFront {
  @extend .techLevelFields;
}

.otherTechContainer {
  margin-top: 60px;
  @include flex(row);
  width: 75%;
  @include size(0px, $phone) {
    width: 100%;
  }
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.otherTech {
  @include flex(column);
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 5px 20px;
  font-size: 20px;
  position: relative;
  z-index: 1;

  @extend %fontB;
  @include size(0px, $phone) {
    margin: 0 14px;
    font-size: 16px;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.isVisible {
  @include animation(
    'fadeIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both'
  );
  .techIcon {
    @include animation(
      'scaleIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both'
    );
  }
  .techTextLevel {
    @include animation(
      'fadeIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both'
    );
  }
}

.otherTechVisible {
  .otherTech {
    @include animation(
      'fadeIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both'
    );
    @for $i from 1 to 20 {
      &:nth-child(#{$i + 1}) {
        @include prefix(animation-delay, $i * 0.15s);
      }
    }
  }
}
