@import './global.module.scss';

.container {
  width: 100vw;
  min-height: 100vh;
  @include flex(column);
  justify-content: center;
  align-items: center;
  @include size(0px, $phone) {
    padding-top: 80px;
  }

  h3 {
    @extend %fontL;
    font-size: 60px;
    text-align: center;
    width: 50%;
    margin-bottom: 2rem;
    @include size(0px, $pad) {
      width: 100%;
      text-align: center;
    }
    @include size($small, $phone) {
      font-size: 48px;
    }
    @include size(0px, $small) {
      font-size: 36px;
    }
    p {
      @extend %fontL;
      opacity: 0.4;
      font-size: 30px;
      @include size(0px, $phone) {
        font-size: 24px;
      }
    }
    @include size(0px, $phone) {
      padding-top: 60px;
    }
  }
}

.info {
  max-width: 50%;
  padding: 0px 24px 8px;
  border-radius: 40px;
  @include flex(column);
  justify-content: center;
  align-items: flex-start;
  // box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.16);

  .topContainer {
    @include flex(row);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1rem;
    // @include size(0px, $pad) {}
  }

  .photoContainer {
    padding: 16px 0px 8px;
    @include size(0px, $pad) {
      padding: 16px 0px 0px;
    }
  }

  h5 {
    @include flex(column);
    justify-content: center;
    align-items: flex-start;
    font-size: 36px;
    padding: 32px 0px 24px;
    opacity: 1;
    text-transform: uppercase;
    line-height: 0.8;
    // @include size(0px, $pad) {
    order: 2;
    align-items: center;
    padding: 16px 0 24px;
    // }

    div {
      @include flex(rpw);
      justify-content: center;
      align-items: flex-start;
    }
    div > span:nth-child(1) {
      @extend %fontL;
      opacity: 0.8;
      padding-left: 2px;
      letter-spacing: -2px;
    }
    div > span:nth-child(2) {
      @extend %fontB;
      opacity: 1;

      letter-spacing: -3px;
    }
    div ~ span {
      @extend %fontL;
      font-size: 18px;
      opacity: 0.75;
      text-transform: capitalize;
      padding-left: 2px;
      line-height: 1.6;
    }
  }

  .text {
    width: 100%;
    @include flex(column);
    justify-content: center;

    .headline {
      @extend %fontB;
      font-size: 16px;
      margin-bottom: 8px;
    }

    .content {
      width: 100%;
      @extend %fontL;
      font-size: 16px;
      opacity: 0.75;
      margin-bottom: 24px;
      @include size(0px, $phone) {
        font-size: 14px;
      }
    }
  }

  @include size(0px, $phone) {
    max-width: 100%;
    flex-wrap: wrap;
  }

  @include size($phone, $tablet) {
    max-width: 80%;
    flex-wrap: wrap;
  }
  @include size($tablet, $laptop) {
    max-width: 75%;
    flex-wrap: wrap;
  }
}
