@import './global.module.scss';
@import './keyframes.module.scss';

.hide {
  @include animation(
    'fadeOut 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0s'
  );
}

.dim {
  @include animation(
    'dimIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0s'
  );
}

.intro {
  div div {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0s'
    );
  }
  div img {
    @include animation(
      'scaleIn 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1.2s'
    );
  }
  @for $i from 1 to 4 {
    div div:nth-child(#{$i + 1}) {
      @include prefix(animation-delay, $i * 0.5s);
    }

    div div div:nth-child(#{$i + 1}) {
      @include prefix(animation-delay, $i * 1s);
    }
  }
}

.about {
  h3 {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s both'
    );
  }
  h3 p {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both'
    );
  }
  div {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.9s both'
    );
  }
  div div {
    @include animation('none');
  }
  // h5,
  // img,
  // p {
  //   @include animation(
  //     'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.2s both'
  //   );
  // }
}

.education {
  p {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both'
    );
  }

  h2 {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.2s both'
    );
  }

  h3,
  h4 {
    @include animation(
      'fadeIn 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both'
    );
  }

  img {
    @include animation(
      'scaleIn 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.6s both'
    );
  }

  @for $i from 1 to 4 {
    p:nth-child(#{$i + 1}) {
      @include prefix(animation-delay, $i * 0.25s);
    }
  }
}

.project {
  @include animation(
    'dimOut 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s both'
  );
}

.tech {
  @include animation(
    'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s both'
  );
}

.contact {
  img {
    @include animation(
      'fadeIn 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.6s both'
    );
  }
  h4 {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.1s both'
    );
  }
  div:nth-child(3) p {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both'
    );
  }
  div:nth-child(4) {
    @include animation(
      'fadeIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.2s both'
    );
  }
}

.download {
  @include animation(
    'scaleIn 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both'
  );
}
