@import './global.module.scss';

.container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  @include flex(column);
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  h2 {
    padding-top: 80px;
  }

  .text {
    z-index: 100;
    justify-self: flex-start;
    padding: 0 12px;
    text-align: center;
    h4 {
      @extend %fontL;
      font-size: 40px;
      line-height: 1;
      margin-bottom: 12px;

      span {
        @extend %fontB;
      }
    }
    p {
      @extend %fontR;
      font-size: 20px;
      opacity: 0.6;
    }
  }

  .links {
    z-index: 100;
    width: 33%;
    @include size(0px, $phone) {
      width: 75%;
    }
    @include flex(column);
    margin-top: 40px;
    padding: 20px 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 2px rgba(black, 0.3);

    .info {
      cursor: context-menu;
      @include flex(row);
      justify-content: flex-start;
      align-items: center;
      @extend %fontL;
      font-size: 28px;
      padding-bottom: 10px;

      div {
        padding-left: 20px;
        p:nth-child(1) {
          @extend %fontL;
          font-size: 24px;
        }
        p:nth-child(2) {
          @extend %fontB;
          font-size: 16px;
        }
      }
      span {
        @extend %fontB;
      }
      svg {
        width: 32px;
        height: 32px;
      }
      img {
        width: 60px;
        height: auto;
      }
    }

    .link {
      @include transition(0.1);
      @include flex(row);
      @extend %fontR;
      font-size: 14px;
      align-items: center;
      border-radius: 20px;
      padding: 10px;
      margin: 6px 0;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: 10px;
      }
    }
  }

  .backgroundImage {
    z-index: 0;
    margin: 20px;
    position: absolute;
    width: auto;
    opacity: 0.5;
    bottom: 0;
    height: 90%;
    @include size(0px, $phone) {
      height: 50%;
      top: 60px;
    }
    @include size($phone, $pad + 1) {
      height: 75%;
      top: 100px;
    }
  }

  .download {
    @include transition(0.1);
    @include flex(row);
    @extend %fontB;
    justify-content: center;
    align-items: center;
    z-index: 120;
    border-radius: 40px;
    margin: 20px;
    div {
      padding: 10px 20px;
      border-radius: 40px;
    }
  }
}
