@import './global.module.scss';

.container {
  width: 100vw;
  @include flex(row);
  justify-content: center;
  align-items: center;
  @include size(0px, $tablet) {
    flex-wrap: wrap;
  }
}

%contentContainer {
  @include flex(column);
  justify-content: center;
  min-height: 100vh;
  @include size(0px, $tablet) {
    min-height: 50vh;
  }
}

.textContainer {
  @include size($pad, 9999px) {
    padding-left: 10vw;
  }
  width: 100%;
  @extend %contentContainer;
  // background-color: rgba(green, 0.25);
  margin: 0 0 0 60px;
  @include size(0px, $phone) {
    margin: 60px 20px 0px 20px;
  }
  @include size($phone, $tablet) {
    margin: 100px 60px 0px 60px;
  }
}

.imageContainer {
  @include size($pad, 9999px) {
    padding-right: 10vw;
  }
  @include flex(row);
  justify-content: center;
  width: 70vw;
  @include size(0px, $tablet) {
    width: 100%;
    margin-bottom: 60px;
  }
  @extend %contentContainer;
  img {
    width: 50%;
    height: auto;
    @include size(0px, $tablet) {
      width: 60%;
    }
    @include size($tablet, $laptop) {
      width: 80%;
    }
  }
  // background-color: rgba(blue, 0.1);
}

.textField {
  margin: 30px 0px;
  overflow-wrap: break-word;
  @include size(0px, $phone) {
    text-align: center;
    margin: 30px 12px;
  }
}

.textSpec {
  text-align: left;
  padding-bottom: 20px;
}

.textLittle {
  @extend %fontB;
  font-size: 16px;
  opacity: 0.5;
}

.textSmall {
  @extend %fontL;
  @include media(font-size, 18px, 18px, 24px, 24px, 28px, 28px, 28px);
  opacity: 0.5;
}

.textNormal {
  @extend %fontL;
  @include media(font-size, 18px, 18px, 24px, 24px, 28px, 28px, 28px);
  opacity: 0.67;
}

.textMedium {
  @extend %fontR;
  @include media(font-size, 32px, 32px, 32px, 36px, 36px, 36px, 36px);
  line-height: 1;
  padding: 12px 0;
  opacity: 1;
}

.textLarge {
  @extend %fontB;
  @include media(font-size, 32px, 36px, 36px, 36px, 48px, 48px, 48px);
  opacity: 1;
}
