// VARIABKES
$dark: #191919;

// EXTENDS
%reset {
  margin: 0;
  padding: 0;
}
%test {
  border: 2px solid rgba(red, 0.2);
  background-color: rgba(red, 0.05);
}

%fontL {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: normal;
}

%fontR {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: normal;
}

%fontB {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: normal;
}

%textOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin flex($type) {
  display: flex;
  flex-direction: $type;
}

// @font-face {
//   font-family: OpenSans-Light;
//   src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: OpenSans-Regular;
//   src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: OpenSans-Bold;
//   src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }

@mixin transform($content) {
  -webkit-transform: #{$content};
  -moz-transform: #{$content};
  -ms-transform: #{$content};
  -o-transform: #{$content};
  transform: #{$content};
}

@mixin transition($time) {
  transition-timing-function: ease-in;
  transition-duration: #{$time}s;
}

@mixin keyframesMixin($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($content) {
  -webkit-animation: #{$content};
  -moz-animation: #{$content};
  -ms-animation: #{$content};
  -o-animation: #{$content};
  animation: #{$content};
}

// @mixin transform($content) {
//   -webkit-transform: $content;
//   -moz-transform: $content;
//   -ms-transform: $content;
//   -o-transform: $content;
//   transform: $content;
// }

$small: 360px;
$phone: 500px;
$tablet: 800px;
$pad: 1024px;
$laptop: 1400px;
$desktop: 2160px;
$Tv: 9999px;

// @mixin size($min, $max) { // can be BROKEN!!!!
//   @if ($max < $pad) {
//     @media only screen and (min-width: $min) and (max-width: $max - 1) and (orientation: portrait) {
//       @content;
//     }
//     @media only screen and (min-height: $min) and (max-height: $max - 1) and (orientation: landscape) {
//       @content;
//     }
//   } @else {
//     @media only screen and (min-width: $min) and (max-width: $max - 1) {
//       @content;
//     }
//   }
// }

@mixin size($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max - 1) {
    @content;
  }
}

@mixin sizeMinHeight($height) {
  @media only screen and (min-height: $height) {
    @content;
  }
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin prefixValue($property, $value) {
  $property: -webkit-#{$value};
  $property: -moz-#{$value};
  $property: -ms-#{$value};
  $property: -o-#{$value};
  $property: #{$value};
}

// mixin size() upgraded
@mixin media(
  $property,
  $valueSmall,
  $valuePhone,
  $valueTablet,
  $valuePad,
  $valueLaptop,
  $valueDesktop,
  $valueTV
) {
  @media only screen and (min-width: 0px) and (max-width: $small - 1) {
    #{$property}: $valueSmall;
  }
  @media only screen and (min-width: $small) and (max-width: $phone - 1) {
    #{$property}: $valuePhone;
  }
  @media only screen and (min-width: $phone) and (max-width: $tablet - 1) {
    #{$property}: $valueTablet;
  }
  @media only screen and (min-width: $tablet) and (max-width: $pad - 1) {
    #{$property}: $valuePad;
  }
  @media only screen and (min-width: $pad) and (max-width: $laptop - 1) {
    #{$property}: $valueLaptop;
  }
  @media only screen and (min-width: $laptop) and (max-width: $desktop - 1) {
    #{$property}: $valueDesktop;
  }
  @media only screen and (min-width: $desktop) {
    #{$property}: $valueTV;
  }
}

.sectionHeadline {
  @extend %fontL;
  align-self: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 0 60px 0;
  opacity: 0.8;
  font-size: 60px;
  @include size(0px, $phone) {
    padding-bottom: 2rem;
  }
  @include size($small, $phone) {
    font-size: 48px;
  }
  @include size(0px, $small) {
    font-size: 36px;
  }
}
