@import './global.module.scss';

.header {
  width: 100vw;
  height: 110px;
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 900;
  // @include size($pad + 1, 9999px) {
  //   background-color: transparent;
  // }

  .container {
    @include flex(row);
    margin-right: 40px;
  }

  .logo {
    @include flex(row);
    margin-left: 40px;
    height: 60px;
    align-items: center;
    z-index: 1000;
    svg {
      // @include transition(0.15);
      width: 48px;
      margin-top: 10px;
    }

    .name {
      font-size: 24px;
      padding: 0 12px;
      white-space: nowrap;
      .Advem {
        @extend %fontL;
        cursor: pointer;
      }
      .Studio {
        @extend %fontB;
        cursor: pointer;
      }
    }
  }

  @include size(0px, 361px) {
    .logo .name {
      display: none;
    }
  }
  @include size(0px, $phone) {
    height: 80px;
    .container {
      margin-right: 18px;
    }
    .logo {
      margin-left: 18px;
      .name {
        font-size: 20px;
        padding: 0 10px 4px 10px;
      }
      svg {
        width: 40px;
        margin-top: 5px;
      }
    }
  }
}

.blurBackground {
  @include size(0px, $pad) {
    @supports (backdrop-filter: blur(10px)) {
      background-color: transparent;
    }
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  @include size($pad, 9999px) {
    background-color: transparent;
  }
}
