@import '../styles/global.module.scss';
@import '../styles/keyframes.module.scss';

.container {
  @include flex(row);
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: relative;

  svg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
  }

  .textField {
    @include flex(column);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;

    .title {
      @extend %fontR;
      @include animation(
        'fadeIn 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 0.5s'
      );
      font-size: 48px;
      opacity: 1;
      letter-spacing: 6px;
      color: white;
      text-shadow: 2px 2px 0px #b376cf;
      // @include size(0px, $phone) {
      //   opacity: 1;
      // }
    }
    .subtitle {
      @extend %fontB;
      @include prefix(animation-name, letterSpacing);
      @include prefix(
        animation-timing-function,
        cubic-bezier(0.215, 0.61, 0.355, 1)
      );
      @include prefix(animation-fill-mode, both);
      @include flex(row);
      justify-content: center;
      width: 100%;
      font-size: 90px;
      text-align: center;
      overflow: hidden;
    }
    @include size(0px, $small) {
      .subtitle {
        font-size: 40px;
      }
    }
    @include size($small, $phone) {
      .subtitle {
        font-size: 60px;
      }
    }
    @include sizeMinHeight(1100px) {
      margin-bottom: 200px;
    }
  }

  // $photoSize: calc((100vw * 0.256) + 508px);
  $photoSize: calc((100vw * 0.18) + 530px);

  .photosContainer {
    @include flex(row);
    justify-content: center;
    align-items: center;
    width: $photoSize;
    overflow: hidden;
    height: 100%;
    opacity: 0.85;
    // background: url('../assets/graphics/photoFace.png') no-repeat center bottom;
    // background-size: $photoSize $photoSize;
    // @include size(0px, $laptop) {
    //   width: 100%;
    // }
    margin-top: 70px;
    width: 100%;
    .photo {
      opacity: 0.85;
    }
    img {
      @include size(0px, $tablet) {
        min-height: $photoSize;
      }
      @include size($pad, 9999px) {
        padding-left: 40px;
      }
      width: $photoSize;
      height: auto;
      // height: $photoSize;
    }
  }
}
