@import './global.module.scss';

// SELECTORS
html {
  @extend %reset;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  @extend %reset;
  @extend %fontL;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-color: rgb(23, 23, 23);
}

$scrollColor: black;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba($scrollColor, 0.6);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba($scrollColor, 0.6);
}
::-webkit-scrollbar-thumb:active {
  background: rgba($scrollColor, 1);
}
::-webkit-scrollbar-track {
  background: rgba($scrollColor, 0.1);
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: rgba($scrollColor, 0.2);
}
::-webkit-scrollbar-track:active {
  background: rgba($scrollColor, 0.2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

div:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  @extend %reset;
}

div {
  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    cursor: context-menu;
  }
}
