@import '../styles/global.module.scss';

.container {
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  @include flex(row);
  @include size(0px, $tablet) {
    flex-wrap: wrap;
    padding-top: 40px;
  }
  .contentContainer {
    order: 2;
    @include flex(column);
    width: 100%;
    // @extend %test;
    justify-content: center;
    align-items: center;
    @include size(0px, $laptop) {
      margin: 50px 20px;
    }
    margin: 0 60px;

    img {
      width: 75%;
      @include size($phone, $tablet) {
        width: 50%;
      }
      height: auto;
    }

    .textContainer {
      cursor: context-menu;
      width: 75%;
      @include size(0px, $phone) {
        width: 75%;
      }
      @include size($phone, $tablet) {
        width: 50%;
      }
      @include flex(row);
      justify-content: space-between;
      div {
        @extend %fontB;
        @include size(0px, $small) {
          font-size: 30px;
        }
        @include size($small, $tablet) {
          font-size: 40px;
        }
        @include size($tablet, $laptop) {
          font-size: 40px;
        }
        font-size: 50px;

        span {
          @extend %fontL;
          opacity: 0.5;
        }
      }
    }

    .textLarge {
      @extend .textContainer;
      div {
        @include size(0px, $small) {
          font-size: 40px;
        }
        @include size($small, $phone) {
          font-size: 50px;
        }
        @include size($phone, $tablet) {
          font-size: 60px;
        }
        @include size($tablet, $pad) {
          font-size: 50px;
        }
        @include size($pad, $laptop) {
          font-size: 60px;
        }
        font-size: 90px;
      }
    }
  }
}

@include size(0px, $tablet) {
  .contentContainer:nth-child(2) {
    order: 1;
  }
}
