@import './global.module.scss';

@include keyframesMixin(letterSpacing) {
  0% {
    letter-spacing: 0.6em;
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  75% {
    letter-spacing: normal;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframesMixin(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: default;
  }
}

@include keyframesMixin(fadeOut) {
  0% {
    opacity: default;
  }
  100% {
    opacity: 0;
  }
}

@include keyframesMixin(dimIn) {
  0% {
    opacity: default;
  }
  100% {
    opacity: 0.5;
  }
}

@include keyframesMixin(dimOut) {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: default;
  }
}

@include keyframesMixin(scaleIn) {
  0% {
    @include transform('scale(0)');
    opacity: 0;
  }

  100% {
    @include transform('scale(1)');
    opacity: default;
  }
}

@include keyframesMixin(slideInLeft) {
  0% {
    @include transform('translateX(-200px)');
    opacity: 0;
  }

  100% {
    @include transform('translateX(0)');
    opacity: default;
  }
}

@include keyframesMixin(lds-ring) {
  0% {
    @include transform('rotate(0deg)');
  }
  100% {
    @include transform('rotate(360deg)');
  }
}
