@import './global.module.scss';

.container {
  width: 40px;
  height: 40px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  @include flex(row);
  justify-content: flex-end;
  border-radius: 20px;
  cursor: pointer !important;
  margin-left: 10px;
  opacity: 0.6;
  z-index: 900;
}

.container:hover {
  opacity: 1;
}

.containerMobile {
  @extend .container;
  @include size($pad, 8000px) {
    display: none;
  }
}

.containerDesktop {
  @extend .container;
  @include size(0px, $pad) {
    display: none;
  }
}

.containermenu {
  @extend .containerDesktop;
}
.containertheme {
  @extend .container;
}
.containerlanguage {
  @extend .container;
}

.hoveredmenu {
  @extend .disableOnMobile;
  width: 460px;
}
.hoveredlanguage {
  @extend .disableOnMobile;
  width: 120px;
}
.hoveredtheme {
  @extend .disableOnMobile;
  width: 120px;
}

.textField {
  @include flex(row);
  @include size(0px, $pad) {
    display: none;
  }
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-right: 20px;

  .text {
    text-transform: capitalize;
    @include transition(0.15);
    text-align: center;
    white-space: nowrap;
    padding: 0 6px;
  }
}

.icon {
  @include flex(column);
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  svg {
    @include transition(0.15);
    width: 24px;
    height: 24px;
  }
  .burgerTop,
  .burgerMid,
  .burgerBot {
    @include transition(0.15);
    width: 22px;
    height: 4px;
    margin: 2px 0;
    border-radius: 4px;
  }
}

.menuActive {
  .burgerTop {
    @include transform('translate3d(0px, 8px, 0) rotate(45deg) scaleX(1.2)');
  }

  .burgerMid {
    @include transform('translate3d(0, 0, 0) rotate(0deg) scaleX(0)');
  }

  .burgerBot {
    @include transform('translate3d(0px, -8px, 0) rotate(-45deg) scaleX(1.2)');
  }
}

.menuText {
  @extend %fontB;
  .text {
    opacity: 0.5;
  }
  .text:hover {
    opacity: 1;
  }
}
.themeText {
  @extend %fontB;
}
.languageText {
  @extend %fontB;
}

.disableOnMobile {
  @include size(0px, $pad) {
    width: 40px;
  }
}

.hideOnMobile {
  @include size(0px, $pad) {
    display: none;
  }
}
