@import './global.module.scss';

.container {
  @include transition(0.5); // transition on in
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0px;
  opacity: 0;
  @include flex(column);
  justify-content: center;
  align-items: flex-start;
  // @include size($pad, 8000px) {
  //   // disable for non mobile
  //   display: none;
  // }
  z-index: -1;
}

.containerActive {
  // @include transition(0.6); // transition on out
  height: 50%;
  opacity: 1;
  @media (orientation: portrait) and (min-height: 0px) and (max-height: 700px) {
    height: 75%;
  }
  @media (orientation: landscape) and (min-height: 0px) and (max-height: 700px) {
    height: 100%;
  }
}

.itemsContainer {
  @include flex(column);
  height: 100%;
  width: 100%;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 40px;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-y: scroll;
}

.item {
  @include transition(0.01); // prevents flexbox glitch (0s doesnt work)
  @extend %fontL;
  font-size: 24px;
  opacity: 0.66;
  padding: 5px 0;
  width: 100%;
  @include size(0px, $small) {
    font-size: 18px;
  }
}

.item:hover {
  opacity: 1;
}
