@import './global.module.scss';

$roundV: 40px;

.container {
  overflow-x: hidden;
  min-height: 100vh;
  @include flex(column);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 110px 0;
  @include size(0px, $phone) {
    padding: 80px 0;
  }
}

.projectContainer {
  overflow-x: hidden;
  display: flex;
  width: 75%;
  @include size(0px, $tablet) {
    flex-flow: column;
    width: 100%;
  }
  @include size($tablet, $laptop) {
    width: 90%;
  }
  height: 100%;
  // align-items: center;
  // justify-content: space-between;
  color: white;
  background-color: #171717;
  box-shadow: 4px 8px 13px 0px rgba(black, 0.66);
  @include size(0px, $tablet) {
    box-shadow: none;
  }
}

.coverContainer {
  flex: 1 1 content;
  position: relative;
  @include transition(0.15);

  min-width: 41.1vw;
  @include size(0px, $tablet) {
    min-width: 100vw;
  }
  @include size($tablet, $pad) {
    min-width: 55vw;
  }
  @include size($pad, $laptop) {
    min-width: 50vw;
  }

  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.infoContainer {
  padding: 2%;
  @include size(0px, $tablet) {
    padding: 0%;
  }
  @include flex(column);
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;

  .text,
  p,
  .button {
    margin: 5%;
  }

  .text {
    @include flex(row);
    justify-content: space-between;
  }

  h4 {
    // max-width: 90%;
    @extend %fontB;
    @include size(0px, $laptop) {
      font-size: 24px;
    }
    @include size($tablet, $pad) {
      font-size: 20px;
    }
    font-size: 32px;
  }

  h5 {
    @extend %fontR;
    @include size(0px, $phone) {
      font-size: 16px;
    }
    @include size($phone, $pad) {
      font-size: 14px;
    }
    font-size: 18px;
    opacity: 0.5;
  }

  p {
    @extend %fontR;
    @extend %reset;
    opacity: 0.8;
    width: 90%;
    @include size(0px, $tablet) {
      width: 75%;
    }
    @include size(1900px, 9999px) {
      width: 75%;
    }
    @include size(0px, $small) {
      font-size: 19px;
    }
    @include size($small, $phone) {
      font-size: 18px;
    }
    @include size($tablet, $pad) {
      font-size: 14px;
    }
    @include size($pad, $laptop) {
      font-size: 17px;
    }
    @include size($laptop, 1700px) {
      font-size: 18px;
    }
    font-size: 22px;
  }

  img {
    width: 60px;
    height: 60px;
    @include size($tablet, $Tv) {
      display: none;
    }
  }
}

.button {
  @include flex(row);
  @include transition(0.15);
  @extend %fontB;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 36px;
  font-size: 20px;
  border: 3px solid;
  border-radius: $roundV;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    background-color: white;
    opacity: 1;
    color: black;
    border-color: white;
  }
  @include size(0px, $pad) {
    width: 120px - 120px * 0.2;
    height: 36px - 36px * 0.2;
    font-size: 20px - 20px * 0.2;
    border-width: 2px;
  }
}

.descriptionContainer {
  @include transition(0.15);
  @include flex(column);
  position: absolute;
  background-color: rgba(black, 0.9);
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  color: white;
  @include size(0px, $tablet) {
    display: none; // diable on mobile
  }

  .descriptionBot,
  .descriptionTop {
    padding: 5% 0;
  }

  .descriptionTop {
    @include flex(row);
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    overflow-y: scroll;

    img,
    p {
      margin: 0 5%;
    }

    .logoContainer {
      position: absolute;
      right: 40px;

      .logoImage {
        max-width: 60px;
      }
    }

    p {
      width: calc(90% - 120px);
      @extend %fontL;
      font-size: 18px;
      @include size($phone, $laptop) {
        font-size: 14px;
      }
      opacity: 0.4;
    }
  }

  .descriptionBot {
    @extend %fontB;
    @include flex(row);
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0.25;
    overflow: hidden;
  }
}
.active {
  opacity: 1;
  overflow: hidden;
}

.container {
  @include size($tablet, 9999px) {
    .projectContainer {
      &:nth-child(2) {
        border-top-left-radius: $roundV;
        border-top-right-radius: $roundV;
        .coverContainer,
        .coverContainer img {
          border-top-right-radius: $roundV;
        }
        .infoContainer {
          border-top-left-radius: $roundV;
        }
        .descriptionTop img {
          border-radius: 0;
        }
      }
      &:last-child {
        border-bottom-left-radius: $roundV;
        border-bottom-right-radius: $roundV;
        .coverContainer,
        .coverContainer img {
          border-bottom-right-radius: $roundV;
        }
        .infoContainer {
          border-bottom-left-radius: $roundV;
        }
      }
    }
  }
}
