@import './global.module.scss';

.container {
  @include flex(row);
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: white;
  @include size(0px, $pad) {
    padding-bottom: 64px;
  }

  .left {
    @include flex(column);
    justify-content: space-evenly;
    width: calc(50vw - 100px);
    max-height: 100vh;
    // background-color: rgba(red, 0.1);
    margin-top: 60px;
    padding-left: 100px;
    padding-right: 50px;

    .text {
      h1 {
        @extend %fontB;
      }

      h2 {
        @extend %fontR;
        opacity: 0.5;
      }
      h3 {
        @extend %fontL;
        width: 75%;
        font-size: 2rem;
        padding: 12px 0;
        line-height: 1.2;
      }
      h4 {
        @extend %fontR;
        opacity: 0.6;
        padding: 12px 0;
        line-height: 1.6;
      }

      h5 {
        @extend %fontB;
        opacity: 0.8;
        span {
          @extend %fontR;
          opacity: 0.5;
        }
      }

      p {
        @extend %fontB;
        padding: 0px 0 6px 0;
        opacity: 0.4;
      }
    }
  }

  .html,
  .text h4 {
    @include transition(0.15);
  }

  .html {
    min-height: 0px;
    max-height: 250px;
    display: inline-block;
    overflow-y: scroll;
    font-size: 16px;
    position: relative;
    line-height: 1.6;
    opacity: 0.3;

    h1,
    h2,
    h3,
    h4,
    h5 {
      @extend %fontB;
      font-size: 16px;
    }
    p {
      @extend %fontR;
      font-size: 14px;
      margin-bottom: 16px;
    }
    ul {
      margin-top: 0;
      padding-left: 20px;
      p {
        margin: 0;
      }
    }
  }
  .html:hover {
    // height: 600px;
    opacity: 1;
  }

  .techContainer {
    width: 75%;
    @include flex(row);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .tech {
      cursor: context-menu;
      @include flex(row);
      justify-content: center;
      align-content: center;
      border-radius: 25px;
      @extend %fontR;
      font-size: 12px;
      padding: 5px 10px;
      margin: 5px 10px 5px 0px;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }

  .buttons {
    @include flex(row);
    align-items: center;
    flex-wrap: wrap;
    @include size($pad, 9999px) {
      background-color: transparent;
    }

    .buttonSmall {
      @include transition(0.15);
      cursor: pointer;
      @include flex(row);
      justify-content: center;
      align-items: center;
      @extend %fontB;
      font-size: 16px;
      padding: 8px 16px 8px 12px;
      margin: 8px 12px 8px 0px;
      svg {
        width: 20px;
        height: 20px;
        padding-right: 6px;
      }
      span {
        cursor: pointer;
      }
    }
    // MOBILE VERSION
    @include size(0px, $pad + 1) {
      position: fixed;
      z-index: 999;
      bottom: 0;
      left: 0;
      justify-content: space-evenly;
      margin: 0;
      width: 100vw;
      height: 64px;
      box-sizing: border-box;
      a,
      div {
        // width: 100%;
        flex-grow: 1;
        flex-basis: auto;
      }
      .buttonSmall {
        flex-grow: 1;
        flex-basis: auto;
        min-width: 64px;
        height: 64px;
        padding: 0;
        padding-top: 2px;
        margin: 0;
        flex-direction: column;
        border-radius: 0;
        border: none;
        svg {
          width: 18px;
          height: 18px;
          padding: 0;
          padding-bottom: 6px;
        }
        .buttonText {
          font-size: 10px;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .right {
    @include flex(row);
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100vh;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }

  @include size(0px, $laptop) {
    flex-wrap: wrap;
    .left {
      justify-content: space-between;
      // min-height: 175vh;
      // max-height: 100%;
      min-height: min-content;
      max-height: max-content;
      margin-top: 80px;
      padding-left: 10px;
      padding-right: 10px;
      // background-color: rgba(red, 0.2);
    }
    .left,
    .left .text h3,
    .techContainer,
    .right {
      width: 100%;
    }
    .right {
      height: 50vh;
    }
    .html {
      opacity: 0.8;
    }
    .left .text h4,
    .left .text p {
      opacity: 0.8;
    }
    .techContainer .tech {
      opacity: 1;
    }
  }

  @include size($phone, $laptop) {
    .right {
      height: 100%;
    }
    .left {
      margin-top: 110px;
      padding: 0 40px;
      min-height: calc(100vh - 110px);
      .text h3 {
        width: 75%;
      }
    }
  }

  @include sizeMinHeight(1200px) {
    .left {
      min-height: 960px !important;
    }
  }

  @include size(0px, $phone) {
    .left {
      .text {
        padding: 20px 0;
        h1 {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 1.25rem;
        }
        h3 {
          font-size: 1.25rem;
        }
        h4,
        h5 {
          font-size: 0.75rem;
        }
      }
      .html {
        h3 {
          font-size: 0.875rem;
        }
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}
