@import './global.module.scss';

// OVERALL
$tooltipsize: 10;
$tooltipwidth: 120;

%tooltipBase {
  @extend %fontB;
  font-size: 14px;
  width: #{$tooltipwidth}px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 5px 0;
  position: absolute;
  z-index: 20;
  opacity: 1;
}
%tooltipAfter {
  content: '';
  position: absolute;
  border-width: #{$tooltipsize}px;
  border-style: solid;
  z-index: 20;
}

// TOP
.tooltiptop {
  @extend %tooltipBase;
  bottom: calc(100% + #{$tooltipsize});
  left: 50%;
  margin-left: -#{$tooltipwidth / 2}px;
}
.tooltiptop::after {
  @extend %tooltipAfter;
  top: 100%;
  left: 50%;
  margin-left: -#{$tooltipsize}px;
  border-color: black transparent transparent transparent;
}
// LEFT
.tooltipleft {
  @extend %tooltipBase;
  top: 25%;
  right: 110%;
}
.tooltipleft::after {
  @extend %tooltipAfter;
  top: 50%;
  left: 100%;
  margin-top: -#{$tooltipsize}px;
  border-color: transparent transparent transparent black;
}
// BOTTOM
.tooltipbottom {
  @extend %tooltipBase;
  top: calc(100% + #{$tooltipsize}px);
  left: 50%;
  margin-left: -#{$tooltipwidth / 2}px;
}
.tooltipbottom::after {
  @extend %tooltipAfter;
  bottom: 100%;
  left: 50%;
  margin-left: -#{$tooltipsize}px;
  border-color: transparent transparent black transparent;
}
// RIGHT
.tooltipright {
  @extend %tooltipBase;
  top: 25%;
  left: 110%;
}
.tooltipright::after {
  @extend %tooltipAfter;
  top: 50%;
  right: 100%;
  margin-top: -#{$tooltipsize}px;
  border-color: transparent black transparent transparent;
}
